* {
  box-sizing: border-box;
}

html {
  background-color: rgb(96, 96, 96);
}

#header {
  margin: 60px auto 50px;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

#game-state {
  margin: 70px auto 60px;
  height: 50px;
}

#round-state {
  text-align: center;
}

#win-text {
  text-align: center;
}

#rps-container {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px auto 80px;
}

#rps-container button {
  width: 200px;
  height: 170px;
  background-color: rgb(150, 147, 147);
  border-radius: 1em;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#score-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px auto;
}

#score-container div {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(150, 147, 147);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
